In [57]:
import pandas as pd
import numpy as np
import os

## 0 Read Data

In [2]:
# read user

In [3]:
path = 'C:/Users/Axe-Yue-CHEN/Desktop/Online-Food-Merchant-Recommendation-Based-on-the-Meituan-Waimai-Application/原数据-20210301-20210328/users.txt'
users = pd.read_csv(path, sep = "\t")

In [4]:
users.head()
# users
# users.info()
# users['avg_pay_amt'].unique()

   user_id avg_pay_amt avg_pay_amt_weekdays avg_pay_amt_weekends
0        0     [36,49)              [29,36)              [36,49)
1        1     [49,65)              [49,65)                 >=65
2        2         <29                  <29                  <29
3        3     [49,65)                 >=65              [49,65)
4        4     [36,49)                   未知              [49,65)

In [5]:
users['avg_pay_amt'].apply(lambda x: str(x).split(','))

0         [[36, 49)]
1         [[49, 65)]
2              [<29]
3         [[49, 65)]
4         [[36, 49)]
             ...
199995    [[36, 49)]
199996        [>=65]
199997    [[36, 49)]
199998         [<29]
199999         [<29]
Name: avg_pay_amt, Length: 200000, dtype: object

In [6]:
# read pois

In [7]:
path = 'C:/Users/Axe-Yue-CHEN/Desktop/Online-Food-Merchant-Recommendation-Based-on-the-Meituan-Waimai-Application/原数据-20210301-20210328/pois.txt'
pois = pd.read_csv(path, sep = "\t")

In [8]:
# pois.head()
# orders_train
pois.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29072 entries, 0 to 29071
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   wm_poi_id                   29071 non-null  float64
 1   wm_poi_name                 27656 non-null  object
 2   primary_second_tag_name     27656 non-null  object
 3   primary_third_tag_name      27656 non-null  object
 4   primary_first_tag_name      27656 non-null  object
 5   poi_brand_id                22037 non-null  float64
 6   aor_id                      4996 non-null   float64
 7   poi_score                   27076 non-null  float64
 8   delivery_comment_avg_score  27076 non-null  float64
 9   food_comment_avg_score      27076 non-null  float64
dtypes: float64(6), object(4)
memory usage: 2.2+ MB

In [9]:
# read orders

In [10]:
path = 'C:/Users/Axe-Yue-CHEN/Desktop/Online-Food-Merchant-Recommendation-Based-on-the-Meituan-Waimai-Application/原数据-20210301-20210328/orders_train.txt'
orders_train = pd.read_csv(path, sep = "\t")

In [11]:
orders_train.head()
# orders_train

,user_id,wm_order_id,wm_poi_id,aor_id,order_price_interval,order_timestamp,ord_period_name,order_scene_name,aoi_id,takedlvr_aoi_type_name,dt
0,120037,0,1806,0,<29,1614557985,0,未知,0.0,0,20210301
1,135109,1,970,6,>=65,1614561844,1,0,NaN,未知,20210301
2,146736,2,1945,6,"[29,36)",1614588773,2,未知,1.0,0,20210301
3,83644,3,708,6,>=65,1614599916,3,1,2.0,0,20210301
4,117903,4,2366,6,"[29,36)",1614595418,3,1,3.0,1,20210301

## 1 Cleaning Data

In [12]:
# pois

In [13]:
pois = pois[0:29070]

## Map POIs to Integers (Done)

## 2 Exploring

### Most Bought POI

In [14]:
order_sort_by_poi = orders_train.groupby('wm_poi_id').count().sort_values('user_id',ascending = False)

In [15]:
order_sort_by_poi

,user_id,wm_order_id,aor_id,order_price_interval,order_timestamp,ord_period_name,order_scene_name,aoi_id,takedlvr_aoi_type_name,dt
wm_poi_id,,,,,,,,,,
1896,4535,4535,4535,4535,4535,4535,4535,4330,4535,4535
244,4139,4139,4139,4139,4139,4139,4139,3531,4139,4139
3230,4102,4102,4102,4102,4102,4102,4102,3766,4102,4102
3193,3943,3943,3943,3943,3943,3943,3943,3647,3943,3943
2933,3868,3868,3868,3868,3868,3868,3868,3737,3868,3868
...,...,...,...,...,...,...,...,...,...,...
1153,1,1,1,1,1,1,1,1,1,1
1154,1,1,1,1,1,1,1,1,1,1
1995,1,1,1,1,1,1,1,1,1,1
1981,1,1,1,1,1,1,1,1,1,1
1658,1,1,1,1,1,1,1,1,1,1

## Try Collaborative Filtering for POI (need to refresh later)

In [ ]:
# 先安装推荐系统库 surprise，在anaconda中运行：
# conda install -c conda-forge scikit-surprise

In [46]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [47]:
reader = Reader()

In [48]:
data = Dataset.load_from_df(user_poi_if_buy, reader)
# data.split(n_folds=5)

In [50]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'])

In [ ]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [ ]:
ratings[ratings['userId'] == 1]

In [ ]:
svd.predict(1, 302, 3)

## Embedding

Data preparing

In [16]:
# user without info
users_n_info = users['user_id'].to_frame()
users_n_info = users_n_info [:1000]

In [18]:
# order record
user_poi_buy = orders_train[['user_id','wm_poi_id']]
user_poi_buy = user_poi_buy [:3000]

In [19]:
user_poi_buy['if_buy'] = 1

In [21]:
# user poi relationship 0

In [22]:
user_poi_0 = pd.merge(users_n_info.assign(key=1), user_poi_buy['wm_poi_id'].to_frame().assign(key=1),on='key').drop('key',1)

C:\Users\AXE-YU~1\AppData\Local\Temp/ipykernel_17804/3713264701.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  user_poi_0 = pd.merge(users_n_info.assign(key=1), user_poi_buy['wm_poi_id'].to_frame().assign(key=1),on='key').drop('key',1)

In [23]:
user_poi_0['if_buy'] = 0

In [ ]:
# user poi relationship

In [25]:
user_poi_if_buy = pd.merge(user_poi_0, user_poi_buy, on = ['user_id','wm_poi_id'], how = 'left')

In [26]:
user_poi_if_buy['if_buy'] = user_poi_if_buy['if_buy_x'] + user_poi_if_buy['if_buy_y']
user_poi_if_buy = user_poi_if_buy[['user_id','wm_poi_id','if_buy']]
user_poi_if_buy = user_poi_if_buy.fillna(0)

**Embedding model needs a training set.** We are going to treat this as a supervised learning problem: given a pair (user, poi), we want the neural network to learn to predict whether this is a legitimate pair - present in the data - or not.

In [ ]:
# positive links between users and pois

In [ ]:
user_poi_buy

In [52]:
pos_link_list = user_poi_buy[['user_id','wm_poi_id']].values.tolist()
pos_pairs = [tuple(link) for link in pos_link_list]
pos_pairs_set = set(pos_pairs)

In [56]:
len(pos_pairs_set)

2952

In [ ]:
# negative links between users and pois

In [ ]:
user_poi_0

In [53]:
neg_link_list = user_poi_0[['user_id','wm_poi_id']].values.tolist()
neg_pairs = [tuple(link) for link in neg_link_list]
neg_pairs_set = set(neg_pairs)

In [55]:
len(neg_pairs_set)

773000

To compute the embeddings, we are **not going to create a separate validation or testing set.** While this is a must for a normal supervised machine learning task, in this case, our primary objective is not to make the most accurate model, but to generate the best embeddings. The prediction task is just the method through which we train our network to make the embeddings. At the end of training, we are not going to be testing our model on new data, so we don't need to evaluate the performance.

The code below creates **a generator that yields batches of samples each time it is called**. Neural networks are trained incrementally - a batch at a time - which means that a generator is a useful function for returning examples on which to train.

In [90]:
import random
random.seed(100)
def generate_batch(pairs, n_positive = 50, negative_ratio = 1.0, classification = True):
    """Generate batches of samples for training"""
    batch_size = n_positive * (1 + negative_ratio)
    batch = np.zeros((batch_size, 3))
    
    # Adjust label based on task
    if classification:
        neg_label = 0
    else:
        neg_label = -1
    
    # This creates a generator
    while True:
        # randomly choose positive examples
        for idx, (user_id, wm_poi_id) in enumerate(random.sample(pairs, n_positive)):
            batch[idx, :] = (user_id, wm_poi_id, 1)

        # Increment idx by 1
        idx += 1
        
        # Add negative examples until reach batch size
        while idx < batch_size:
            
            # random selection
            random_user = random.randrange(len(users))
            random_poi = random.randrange(len(pois))
            
            # Check to make sure this is not a positive example
            if (random_user, random_poi) not in pos_pairs_set:
                
                # Add to batch and increment index
                batch[idx, :] = (random_user, random_poi, neg_label)
                idx += 1
                
        # Make sure to shuffle order
        np.random.shuffle(batch)
        yield {'user': batch[:, 0], 'poi': batch[:, 1]}, batch[:, 2]

In [91]:
next(generate_batch(pos_pairs, n_positive = 2, negative_ratio = 3))

({'user': array([ 28827.,  91681.,  69856., 103031.,  45809., 132871., 119256.,
          77396.]),
  'poi': array([17462., 14205.,  3247., 23984., 23118., 26215., 25257.,  1133.])},
 array([0., 0., 1., 0., 0., 0., 0., 1.]))

**Neural Network Embedding Model**

In [92]:
# pip install keras

In [93]:
# pip install tensorflow

In [67]:
from keras.layers import Input, Embedding, Dot, Reshape, Dense
from keras.models import Model

In [94]:
def user_embedding_model(embedding_size = 50, classification = False):
    """Model to embed users and pois using the functional API.
       Trained to discern if a link is present in the user poi pairs (which is orders)"""
    
    # Both inputs are 1-dimensional
    user = Input(name = 'user', shape = [1])
    poi = Input(name = 'poi', shape = [1])
    
    # Embedding the user (shape will be (None, 1, 50))
    user_embedding = Embedding(name = 'user_embedding',
                               input_dim = len(users['user_id']),
                               output_dim = embedding_size)(user)
    
    # Embedding the poi (shape will be (None, 1, 50))
    poi_embedding = Embedding(name = 'poi_embedding',
                               input_dim = len(pois['wm_poi_id']),
                               output_dim = embedding_size)(poi)
    
    # Merge the layers with a dot product along the second axis (shape will be (None, 1, 1))
    merged = Dot(name = 'dot_product', normalize = True, axes = 2)([user_embedding, poi_embedding])
    
    # Reshape to be a single number (shape will be (None, 1))
    merged = Reshape(target_shape = [1])(merged)
    
    # If classifcation, add extra layer and loss function is binary cross entropy
    if classification:
        merged = Dense(1, activation = 'sigmoid')(merged)
        model = Model(inputs = [user, poi], outputs = merged)
        model.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
    
    # Otherwise loss function is mean squared error
    else:
        model = Model(inputs = [user, poi], outputs = merged)
        model.compile(optimizer = 'Adam', loss = 'mse')
    
    return model

# Instantiate model and show parameters
model = user_embedding_model()
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 user (InputLayer)              [(None, 1)]          0           []

 poi (InputLayer)               [(None, 1)]          0           []

 user_embedding (Embedding)     (None, 1, 50)        10000000    ['user[0][0]']

 poi_embedding (Embedding)      (None, 1, 50)        1453500     ['poi[0][0]']

 dot_product (Dot)              (None, 1, 1)         0           ['user_embedding[0][0]',
                                                                  'poi_embedding[0][0]']

 reshape_1 (Reshape)            (None, 1)            0           ['dot_product[0][0]']

==================================================================================================
Total params: 11,453,500
Trainable params: 11,453,500
Non-trainable params: 0
__________________________________________________________________________________________________

**Train Embedding Model**

In [95]:
n_positive = 1024

gen = generate_batch(pos_pairs, n_positive, negative_ratio = 2)

# Train
h = model.fit(x = gen, epochs = 15,steps_per_epoch = len(pos_pairs) // n_positive,verbose = 2)

Epoch 1/15
2/2 - 1s - loss: 0.3438 - 504ms/epoch - 252ms/step
Epoch 2/15
2/2 - 0s - loss: 0.3262 - 233ms/epoch - 117ms/step
Epoch 3/15
2/2 - 0s - loss: 0.2955 - 234ms/epoch - 117ms/step
Epoch 4/15
2/2 - 0s - loss: 0.2687 - 240ms/epoch - 120ms/step
Epoch 5/15
2/2 - 0s - loss: 0.2459 - 236ms/epoch - 118ms/step
Epoch 6/15
2/2 - 0s - loss: 0.2228 - 248ms/epoch - 124ms/step
Epoch 7/15
2/2 - 0s - loss: 0.2019 - 252ms/epoch - 126ms/step
Epoch 8/15
2/2 - 0s - loss: 0.1822 - 242ms/epoch - 121ms/step
Epoch 9/15
2/2 - 0s - loss: 0.1677 - 251ms/epoch - 125ms/step
Epoch 10/15
2/2 - 0s - loss: 0.1471 - 243ms/epoch - 121ms/step
Epoch 11/15
2/2 - 0s - loss: 0.1327 - 252ms/epoch - 126ms/step
Epoch 12/15
2/2 - 0s - loss: 0.1210 - 239ms/epoch - 120ms/step
Epoch 13/15
2/2 - 0s - loss: 0.1115 - 250ms/epoch - 125ms/step
Epoch 14/15
2/2 - 0s - loss: 0.1018 - 259ms/epoch - 130ms/step
Epoch 15/15
2/2 - 0s - loss: 0.0926 - 247ms/epoch - 124ms/step