In [2]:
import pandas as pd
import numpy as np
import os

## 0 Read Data

In [2]:
# read user

In [3]:
path = 'C:/Users/Axe-Yue-CHEN/Desktop/Online-Food-Merchant-Recommendation-Based-on-the-Meituan-Waimai-Application/原数据-20210301-20210328/users.txt'
users = pd.read_csv(path, sep = "\t")

In [4]:
users.head()
# users
# users.info()
# users['avg_pay_amt'].unique()

   user_id avg_pay_amt avg_pay_amt_weekdays avg_pay_amt_weekends
0        0     [36,49)              [29,36)              [36,49)
1        1     [49,65)              [49,65)                 >=65
2        2         <29                  <29                  <29
3        3     [49,65)                 >=65              [49,65)
4        4     [36,49)                   未知              [49,65)

In [5]:
users['avg_pay_amt'].apply(lambda x: str(x).split(','))

0         [[36, 49)]
1         [[49, 65)]
2              [<29]
3         [[49, 65)]
4         [[36, 49)]
             ...
199995    [[36, 49)]
199996        [>=65]
199997    [[36, 49)]
199998         [<29]
199999         [<29]
Name: avg_pay_amt, Length: 200000, dtype: object

In [6]:
# read pois

In [149]:
path = 'C:/Users/Axe-Yue-CHEN/Desktop/Online-Food-Merchant-Recommendation-Based-on-the-Meituan-Waimai-Application/原数据-20210301-20210328/pois.txt'
pois = pd.read_csv(path, sep = "\t")

In [150]:
# pois.head()
# orders_train
pois.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29072 entries, 0 to 29071
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   wm_poi_id                   29071 non-null  float64
 1   wm_poi_name                 27656 non-null  object
 2   primary_second_tag_name     27656 non-null  object
 3   primary_third_tag_name      27656 non-null  object
 4   primary_first_tag_name      27656 non-null  object
 5   poi_brand_id                22037 non-null  float64
 6   aor_id                      4996 non-null   float64
 7   poi_score                   27076 non-null  float64
 8   delivery_comment_avg_score  27076 non-null  float64
 9   food_comment_avg_score      27076 non-null  float64
dtypes: float64(6), object(4)
memory usage: 2.2+ MB

In [8]:
# read orders

In [9]:
path = 'C:/Users/Axe-Yue-CHEN/Desktop/Online-Food-Merchant-Recommendation-Based-on-the-Meituan-Waimai-Application/原数据-20210301-20210328/orders_train.txt'
orders_train = pd.read_csv(path, sep = "\t")

In [10]:
orders_train.head()
# orders_train

,user_id,wm_order_id,wm_poi_id,aor_id,order_price_interval,order_timestamp,ord_period_name,order_scene_name,aoi_id,takedlvr_aoi_type_name,dt
0,120037,0,1806,0,<29,1614557985,0,未知,0.0,0,20210301
1,135109,1,970,6,>=65,1614561844,1,0,NaN,未知,20210301
2,146736,2,1945,6,"[29,36)",1614588773,2,未知,1.0,0,20210301
3,83644,3,708,6,>=65,1614599916,3,1,2.0,0,20210301
4,117903,4,2366,6,"[29,36)",1614595418,3,1,3.0,1,20210301

## 1 Cleaning Data

In [11]:
# pois

In [151]:
pois = pois[0:29070]

## Map POIs to Integers (Done)

## 2 Exploring

### Most Bought POI

In [13]:
order_sort_by_poi = orders_train.groupby('wm_poi_id').count().sort_values('user_id',ascending = False)

In [14]:
order_sort_by_poi

,user_id,wm_order_id,aor_id,order_price_interval,order_timestamp,ord_period_name,order_scene_name,aoi_id,takedlvr_aoi_type_name,dt
wm_poi_id,,,,,,,,,,
1896,4535,4535,4535,4535,4535,4535,4535,4330,4535,4535
244,4139,4139,4139,4139,4139,4139,4139,3531,4139,4139
3230,4102,4102,4102,4102,4102,4102,4102,3766,4102,4102
3193,3943,3943,3943,3943,3943,3943,3943,3647,3943,3943
2933,3868,3868,3868,3868,3868,3868,3868,3737,3868,3868
...,...,...,...,...,...,...,...,...,...,...
1153,1,1,1,1,1,1,1,1,1,1
1154,1,1,1,1,1,1,1,1,1,1
1995,1,1,1,1,1,1,1,1,1,1
1981,1,1,1,1,1,1,1,1,1,1
1658,1,1,1,1,1,1,1,1,1,1

## Try Collaborative Filtering for POI (need to refresh later)

In [ ]:
# 先安装推荐系统库 surprise，在anaconda中运行：
# conda install -c conda-forge scikit-surprise

In [15]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [16]:
reader = Reader()

In [17]:
data = Dataset.load_from_df(user_poi_if_buy, reader)
# data.split(n_folds=5)

NameError: name 'user_poi_if_buy' is not defined

In [50]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'])

In [ ]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [ ]:
ratings[ratings['userId'] == 1]

In [ ]:
svd.predict(1, 302, 3)

## Embedding

Data preparing

In [123]:
# user without info
users_n_info = users['user_id'].to_frame()
# users_n_info = users_n_info [:10000]

In [124]:
users

        user_id avg_pay_amt avg_pay_amt_weekdays avg_pay_amt_weekends
0             0     [36,49)              [29,36)              [36,49)
1             1     [49,65)              [49,65)                 >=65
2             2         <29                  <29                  <29
3             3     [49,65)                 >=65              [49,65)
4             4     [36,49)                   未知              [49,65)
...         ...         ...                  ...                  ...
199995   199995     [36,49)              [36,49)              [36,49)
199996   199996        >=65                 >=65              [49,65)
199997   199997     [36,49)              [36,49)              [36,49)
199998   199998         <29                  <29                  <29
199999   199999         <29                  <29                  <29

[200000 rows x 4 columns]

In [125]:
user_index = {user: user for user in users['user_id']}
index_user = {idx: user for user, idx in user_index.items()}

In [168]:
path = 'C:/Users/Axe-Yue-CHEN/Desktop/Online-Food-Merchant-Recommendation-Based-on-the-Meituan-Waimai-Application/原数据-20210301-20210328/pois.txt'
pois = pd.read_csv(path, sep = "\t")
pois = pois[0:29070]

In [169]:
pois['wm_poi_id'] = pois['wm_poi_id'].astype('int')

In [176]:
pois

,wm_poi_id,wm_poi_name,primary_second_tag_name,primary_third_tag_name,primary_first_tag_name,poi_brand_id,aor_id,poi_score,delivery_comment_avg_score,food_comment_avg_score
0,0,302658-52727-042150-121306-b3244-8f2156-713861...,0,0,0,0.0,0.0,4.66,4.87,4.61
1,1,253623-653615-4c2815-121306-0d1431-063761-4316...,0,0,0,1.0,5.0,4.79,4.97,4.82
2,2,604088-273896-e01010-1f2314-604088-082380-2333...,0,1,0,2.0,3.0,4.72,4.90,4.76
3,3,f71647-d32947-c53116-4a3834-121306-251713-a215...,1,2,0,3.0,1.0,4.85,4.88,4.85
4,4,141582-67198-aa3982-c62143-082380-233398-32329...,1,3,0,4.0,3.0,4.71,5.00,4.74
...,...,...,...,...,...,...,...,...,...,...
29065,29065,6a3579-bb3653-262624-e41314-6f228-121306-b31-9...,1,14,0,1742.0,NaN,4.47,4.73,4.52
29066,29066,912577-cc2258-231660-b1749-133334-121306-40292...,21,未知,5,NaN,NaN,4.83,5.00,0.00
29067,29067,b51328-b43550-8d3237-f83517-121306-043458-c671...,0,15,0,8.0,NaN,4.68,4.95,4.68
29068,29068,84752-6f1663-d13754-a13945-fa4015-2b3552-c5311...,7,36,0,8.0,NaN,4.43,4.81,4.48
29069,29069,52727-f51944-111881-121306-682644-28807-a93922...,40,未知,3,NaN,NaN,4.56,5.00,0.00

In [174]:
poi_index = {poi: poi for poi in pois['wm_poi_id']}
index_poi = {idx: poi for poi, idx in poi_index.items()}

In [126]:
# order record
user_poi_buy = orders_train[['user_id','wm_poi_id']]
# user_poi_buy = user_poi_buy [:3000]

In [127]:
user_poi_buy['if_buy'] = 1

C:\Users\AXE-YU~1\AppData\Local\Temp/ipykernel_8508/1166971434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_poi_buy['if_buy'] = 1

In [128]:
# user poi relationship 0

In [129]:
user_poi_0 = pd.merge(users_n_info.assign(key=1), user_poi_buy['wm_poi_id'].to_frame().assign(key=1),on='key').drop('key',1)

MemoryError: Unable to allocate 1.55 TiB for an array with shape (213699000000,) and data type int64

In [130]:
user_poi_0['if_buy'] = 0

In [131]:
# user poi relationship

In [132]:
user_poi_if_buy = pd.merge(user_poi_0, user_poi_buy, on = ['user_id','wm_poi_id'], how = 'left')

In [133]:
user_poi_if_buy['if_buy'] = user_poi_if_buy['if_buy_x'] + user_poi_if_buy['if_buy_y']
user_poi_if_buy = user_poi_if_buy[['user_id','wm_poi_id','if_buy']]
user_poi_if_buy = user_poi_if_buy.fillna(0)

**Embedding model needs a training set.** We are going to treat this as a supervised learning problem: given a pair (user, poi), we want the neural network to learn to predict whether this is a legitimate pair - present in the data - or not.

In [ ]:
# positive links between users and pois

In [134]:
user_poi_buy

         user_id  wm_poi_id  if_buy
0         120037       1806       1
1         135109        970       1
2         146736       1945       1
3          83644        708       1
4         117903       2366       1
...          ...        ...     ...
1068490    33987        378       1
1068491    75439       2274       1
1068492    16555       1199       1
1068493   119357       2203       1
1068494   155481        423       1

[1068495 rows x 3 columns]

In [135]:
pos_link_list = user_poi_buy[['user_id','wm_poi_id']].values.tolist()
pos_pairs = [tuple(link) for link in pos_link_list]
pos_pairs_set = set(pos_pairs)

In [136]:
len(pos_pairs_set)

750529

In [137]:
# negative links between users and pois

In [138]:
user_poi_0

         user_id  wm_poi_id  if_buy
0              0       1806       0
1              0        970       0
2              0       1945       0
3              0        708       0
4              0       2366       0
...          ...        ...     ...
2999995      999        812       0
2999996      999       2120       0
2999997      999       1781       0
2999998      999       2624       0
2999999      999       1733       0

[3000000 rows x 3 columns]

In [139]:
neg_link_list = user_poi_0[['user_id','wm_poi_id']].values.tolist()
neg_pairs = [tuple(link) for link in neg_link_list]
neg_pairs_set = set(neg_pairs)

In [140]:
len(neg_pairs_set)

773000

To compute the embeddings, we are **not going to create a separate validation or testing set.** While this is a must for a normal supervised machine learning task, in this case, our primary objective is not to make the most accurate model, but to generate the best embeddings. The prediction task is just the method through which we train our network to make the embeddings. At the end of training, we are not going to be testing our model on new data, so we don't need to evaluate the performance.

The code below creates **a generator that yields batches of samples each time it is called**. Neural networks are trained incrementally - a batch at a time - which means that a generator is a useful function for returning examples on which to train.

In [141]:
import random
random.seed(100)
def generate_batch(pairs, n_positive = 50, negative_ratio = 1.0, classification = True):
    """Generate batches of samples for training"""
    batch_size = n_positive * (1 + negative_ratio)
    batch = np.zeros((batch_size, 3))
    
    # Adjust label based on task
    if classification:
        neg_label = 0
    else:
        neg_label = -1
    
    # This creates a generator
    while True:
        # randomly choose positive examples
        for idx, (user_id, wm_poi_id) in enumerate(random.sample(pairs, n_positive)):
            batch[idx, :] = (user_id, wm_poi_id, 1)

        # Increment idx by 1
        idx += 1
        
        # Add negative examples until reach batch size
        while idx < batch_size:
            
            # random selection
            random_user = random.randrange(len(users))
            random_poi = random.randrange(len(pois))
            
            # Check to make sure this is not a positive example
            if (random_user, random_poi) not in pos_pairs_set:
                
                # Add to batch and increment index
                batch[idx, :] = (random_user, random_poi, neg_label)
                idx += 1
                
        # Make sure to shuffle order
        np.random.shuffle(batch)
        yield {'user': batch[:, 0], 'poi': batch[:, 1]}, batch[:, 2]

In [142]:
next(generate_batch(pos_pairs, n_positive = 2, negative_ratio = 3))

({'user': array([ 28827.,  91681., 120751., 103031., 177770., 132871., 119256.,
          45809.]),
  'poi': array([17462., 14205.,    48., 23984.,  2897., 26215., 25257., 23118.])},
 array([0., 0., 1., 0., 1., 0., 0., 0.]))

**Neural Network Embedding Model**

In [143]:
# pip install keras

In [144]:
# pip install tensorflow

In [145]:
from keras.layers import Input, Embedding, Dot, Reshape, Dense
from keras.models import Model

In [146]:
def user_embedding_model(embedding_size = 50, classification = False):
    """Model to embed users and pois using the functional API.
       Trained to discern if a link is present in the user poi pairs (which is orders)"""
    
    # Both inputs are 1-dimensional
    user = Input(name = 'user', shape = [1])
    poi = Input(name = 'poi', shape = [1])
    
    # Embedding the user (shape will be (None, 1, 50))
    user_embedding = Embedding(name = 'user_embedding',
                               input_dim = len(users['user_id']),
                               output_dim = embedding_size)(user)
    
    # Embedding the poi (shape will be (None, 1, 50))
    poi_embedding = Embedding(name = 'poi_embedding',
                               input_dim = len(pois['wm_poi_id']),
                               output_dim = embedding_size)(poi)
    
    # Merge the layers with a dot product along the second axis (shape will be (None, 1, 1))
    merged = Dot(name = 'dot_product', normalize = True, axes = 2)([user_embedding, poi_embedding])
    
    # Reshape to be a single number (shape will be (None, 1))
    merged = Reshape(target_shape = [1])(merged)
    
    # If classifcation, add extra layer and loss function is binary cross entropy
    if classification:
        merged = Dense(1, activation = 'sigmoid')(merged)
        model = Model(inputs = [user, poi], outputs = merged)
        model.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
    
    # Otherwise loss function is mean squared error
    else:
        model = Model(inputs = [user, poi], outputs = merged)
        model.compile(optimizer = 'Adam', loss = 'mse')
    
    return model

# Instantiate model and show parameters
model = user_embedding_model()
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 user (InputLayer)              [(None, 1)]          0           []

 poi (InputLayer)               [(None, 1)]          0           []

 user_embedding (Embedding)     (None, 1, 50)        10000000    ['user[0][0]']

 poi_embedding (Embedding)      (None, 1, 50)        1453500     ['poi[0][0]']

 dot_product (Dot)              (None, 1, 1)         0           ['user_embedding[0][0]',
                                                                  'poi_embedding[0][0]']

 reshape_1 (Reshape)            (None, 1)            0           ['dot_product[0][0]']

==================================================================================================
Total params: 11,453,500
Trainable params: 11,453,500
Non-trainable params: 0
__________________________________________________________________________________________________

**Train Embedding Model**

In [147]:
n_positive = 1024

gen = generate_batch(pos_pairs, n_positive, negative_ratio = 2)

# Train
h = model.fit(x = gen, epochs = 15,steps_per_epoch = len(pos_pairs) // n_positive,verbose = 2)

Epoch 1/15
1043/1043 - 122s - loss: 0.2391 - 122s/epoch - 117ms/step
Epoch 2/15
1043/1043 - 123s - loss: 0.0834 - 123s/epoch - 118ms/step
Epoch 3/15
1043/1043 - 123s - loss: 0.0407 - 123s/epoch - 118ms/step
Epoch 4/15
1043/1043 - 123s - loss: 0.0309 - 123s/epoch - 118ms/step
Epoch 5/15
1043/1043 - 122s - loss: 0.0274 - 122s/epoch - 117ms/step
Epoch 6/15
1043/1043 - 124s - loss: 0.0254 - 124s/epoch - 119ms/step
Epoch 7/15
1043/1043 - 123s - loss: 0.0241 - 123s/epoch - 117ms/step
Epoch 8/15
1043/1043 - 123s - loss: 0.0231 - 123s/epoch - 118ms/step
Epoch 9/15
1043/1043 - 124s - loss: 0.0224 - 124s/epoch - 119ms/step
Epoch 10/15
1043/1043 - 124s - loss: 0.0218 - 124s/epoch - 119ms/step
Epoch 11/15
1043/1043 - 123s - loss: 0.0213 - 123s/epoch - 118ms/step
Epoch 12/15
1043/1043 - 124s - loss: 0.0209 - 124s/epoch - 118ms/step
Epoch 13/15
1043/1043 - 123s - loss: 0.0205 - 123s/epoch - 118ms/step
Epoch 14/15
1043/1043 - 124s - loss: 0.0202 - 124s/epoch - 119ms/step
Epoch 15/15
1043/1043 - 125s - loss: 0.0199 - 125s/epoch - 120ms/step

In [148]:
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 user (InputLayer)              [(None, 1)]          0           []

 poi (InputLayer)               [(None, 1)]          0           []

 user_embedding (Embedding)     (None, 1, 50)        10000000    ['user[0][0]']

 poi_embedding (Embedding)      (None, 1, 50)        1453500     ['poi[0][0]']

 dot_product (Dot)              (None, 1, 1)         0           ['user_embedding[0][0]',
                                                                  'poi_embedding[0][0]']

 reshape_1 (Reshape)            (None, 1)            0           ['dot_product[0][0]']

==================================================================================================
Total params: 11,453,500
Trainable params: 11,453,500
Non-trainable params: 0
__________________________________________________________________________________________________

In [152]:
model.save('C:/Users/Axe-Yue-CHEN/Desktop/Online-Food-Merchant-Recommendation-Based-on-the-Meituan-Waimai-Application/models/first_attempt.h5')

**Extract Embeddings and Analyze**

In [153]:
# Extract embeddings
user_layer = model.get_layer('user_embedding')
user_weights = user_layer.get_weights()[0]
user_weights.shape

(200000, 50)

Each user is now represented as a 50-dimensional vector.

We need to normalize the embeddings so that the dot product between two embeddings becomes the cosine similarity.

In [154]:
user_weights = user_weights / np.linalg.norm(user_weights, axis = 1).reshape((-1, 1))
user_weights[0][:10]
np.sum(np.square(user_weights[0]))

1.0

Normalize just means divide each vector by the square root of the sum of squared components.

**Finding Similar users**

Function to Find Most Similar Entities

The function below takes in either a user or a poi, a set of embeddings, and returns the n most similar items to the query. It does this by computing the dot product between the query and embeddings. Because we normalized the embeddings, the dot product represents the cosine similarity between two vectors. This is a measure of similarity that does not depend on the magnitude of the vector in contrast to the Euclidean distance.

Once we have the dot products, we can sort the results to find the closest entities in the embedding space. With cosine similarity, higher numbers indicate entities that are closer together, with -1 the furthest apart and +1 closest together.

In [184]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')
plt.rcParams['font.size'] = 15

def find_similar(name, weights, index_name = 'user', n = 10, least = False, return_dist = False, plot = False):
    """Find n most similar items (or least) to name based on embeddings. Option to also plot the results"""
    
    # Select index and reverse index
    if index_name == 'user':
        index = user_index
        rindex = index_user
    elif index_name == 'poi':
        index = poi_index
        rindex = index_poi
    
    # Check to make sure `name` is in index
    try:
        # Calculate dot product between book and all others
        dists = np.dot(weights, weights[index[name]])
    except KeyError:
        print(f'{name} Not Found.')
        return
    
    # Sort distance indexes from smallest to largest
    sorted_dists = np.argsort(dists)
    
    # Plot results if specified
    if plot:
        
        # Find furthest and closest items
        furthest = sorted_dists[:(n // 2)]
        closest = sorted_dists[-n-1: len(dists) - 1]
        items = [rindex[c] for c in furthest]
        items.extend(rindex[c] for c in closest)
        
        # Find furthest and closets distances
        distances = [dists[c] for c in furthest]
        distances.extend(dists[c] for c in closest)
        
        colors = ['r' for _ in range(n //2)]
        colors.extend('g' for _ in range(n))
        
        data = pd.DataFrame({'distance': distances}, index = items)
        
        # Horizontal bar chart
        data['distance'].plot.barh(color = colors, figsize = (10, 8),
                                   edgecolor = 'k', linewidth = 2)
        plt.xlabel('Cosine Similarity');
        plt.axvline(x = 0, color = 'k');
        
        # Formatting for italicized title
        name_str = f'{index_name.capitalize()}s Most and Least Similar to'
        for word in name.split():
            # Title uses latex for italize
            name_str += ' $\it{' + word + '}$'
        plt.title(name_str, x = 0.2, size = 28, y = 1.05)
        
        return None
    
    # If specified, find the least similar
    if least:
        # Take the first n from sorted distances
        closest = sorted_dists[:n]
         
        print(f'{index_name.capitalize()}s furthest from {name}.\n')
        
    # Otherwise find the most similar
    else:
        # Take the last n sorted distances
        closest = sorted_dists[-n:]
        
        # Need distances later on
        if return_dist:
            return dists, closest
        
        
        print(f'{index_name.capitalize()}s closest to {name}.\n')
        
    # Need distances later on
    if return_dist:
        return dists, closest
    
    
    # Print formatting
    max_width = 6
    
    # Print the most similar and distances
    for c in reversed(closest):
        print(f'{index_name.capitalize()}: {rindex[c]:{max_width + 2}} Similarity: {dists[c]:.{2}}')

In [187]:
find_similar(1000, user_weights, index_name='user', n = 5, least = False)

Users closest to 1000.

User:    1000 Similarity: 1.0
User:   62353 Similarity: 0.88
User:   64239 Similarity: 0.88
User:  197778 Similarity: 0.87
User:   20561 Similarity: 0.87

In [188]:
# Extract embeddings
poi_layer = model.get_layer('poi_embedding')
poi_weights = poi_layer.get_weights()[0]
poi_weights.shape

(29070, 50)

In [191]:
find_similar(10000, poi_weights, index_name='poi')

Pois closest to 10000.

Poi:   10000 Similarity: 0.54
Poi:   12529 Similarity: 0.38
Poi:    3751 Similarity: 0.36
Poi:   23259 Similarity: 0.35
Poi:   19263 Similarity: 0.35
Poi:    4852 Similarity: 0.34
Poi:    8463 Similarity: 0.34
Poi:   28104 Similarity: 0.34
Poi:    7466 Similarity: 0.32
Poi:   22384 Similarity: 0.32